@font-face{
	font-family: 'Playfair Display';
	src:url(../fonts/PlayfairDisplay-Regular.eot);
	src:url(../fonts/PlayfairDisplay-Regular.ttf),
		url(../fonts/PlayfairDisplay-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Lato Light';
	src:url(../fonts/LatoLight.eot);
	src:url(../fonts/LatoLight.ttf),
		url(../fonts/LatoLight.woff);
	font-weight: 400;
	font-style: normal;
}

*{
	box-sizing: border-box;
}
html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
}
.container {
	/*height: 70%;*/
	width: 80%;
	margin: 75px auto;
	padding: 110px 120px;
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
}
 
.main
{
	background: #fff;
	margin: 0;
	font: 200 18px/2 'Lato Light', sans-serif;
	color: #858585;	
}
h1 {
	font: 700 42px/2 'Playfair Display', serif;
	margin: 0;
	color: #171717;
}
.container .main .section {
	font: 600 24px/2 'Lato Light', sans-serif;
	font-style: italic;
}
.container .main .paragraf {
	margin-top: 0;
}
.paragraf:first-of-type::first-letter {
	font-family: 'Playfair Display', sans-serif; /* Гарнитура шрифта первой буквы */
    font-size: 110px;
    line-height: 90px;
    margin: 0 35px 5px 0;
    color: #171717;
    float: left;
    text-align: top;
}
.blockquote {
	font-size: 25px;
	font-style: italic;
	display: inline-block;
	line-height: 30px;
	margin-left: 0;
	font-weight: 700;
}
.blockquote:before {
	content: '"';
	font-style: italic;
	font-size: 50px;
	margin-right: 20px; 
}

.footer .button {
	display: inline-block;
	margin-top: 20px;
	border: 2px solid #eaa258;
	font: 700 18px/2 'Lato Light', sans-serif;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #eaa258;
	padding: 10px 50px;
	transition: all .25s;
	background: #fff;
}
.button:hover,
.button:focus,
.button:active{
	background: #eaa258;
	color: #fff;
}